<!DOCTYPE html>
<html>
<head>
	<title> Cynthia Mao's Home Page </title>
</head>

<style>
	header {text-align: center;
			font-size: 200%;
			color: #2874A6;}

	h1 {font-family: cursive;
		font-size: 100%;
		color: black;}

	h2 {color: #E67E22;}

	body{
		background-color: #B0E0E6
	}

cntralign {
	text-align: center;
	color: black;
	border-bottom: 2px #3874EA;
	border-top: 2px #3874EA;
}

</style>

<body>
	<header> Cynthia Mao </header>

<cntralign>
	<h1> hi there! </h1>
	
</cntralign>

	<h2> My favorite picture... </h2>
	<img src = "http://ghk.h-cdn.co/assets/16/09/1600x800/landscape-1457107485-gettyimages-512366437.jpg" 
	alt = "Puppy Pic" style="width:304px;height:228px;">

	<h2> My favorite color... </h2>
	<p> is powderblue aka the background color </p>

</body>

</html>

	
